
html {
     background-color: black !important
}

h2 {
	color: white;
	font-family: Helvetica;
    text-align: center;
    font-size: 10px;
    font-weight: lighter;
    margin-top: 10rem;
}

.center {
	width: 350px;
	display: block;
	margin-left: auto;
	margin-right: auto;
    
}
p , #guesses {
    color: white;
    font-family: Helvetica;
    text-align: center;
    font-size: 10px;
    display: inline;
    
}

#clue {
color: #ffe6a7

}

button {
    color: black;
    background-color: #32aaf5;
    /* background-color: orangered; */
    margin: 5px;
    border: #00a8e8;
    /* border: orangered; */
    /* padding-top: 5px;
    padding-bottom: 5px; */
    font-weight: bold;
    margin-top: 20px;
    padding: 5px 10px;
    cursor: pointer;
}

button:hover {
    background-color: orangered;
    color: white; 
    border: 3px solid purple;
}

.answer-button {
    background-color: white;
    border-radius: 5px;
    border: white;
    margin-top: 30px;
    margin-bottom: 10px;
    padding: 10px 15px;
}

.reset-bttn {
    background-color: black;
    color: white;
    border-radius: 5px;
    display: block;
	margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    font-family: 'Press Start 2P';
    border: 3px solid red;

}

body {
    text-align: center;
}

h3 {
    color: white;
    font-family: 'Press Start 2P';
}

#answer-grid {
   color: white;
}

#number-guesses {
    color: orange;
    font-family: 'Press Start 2P';
}

#answer-grid {
    font-family: 'Press Start 2P';
    font-size: 30px;
}