
html {
     background-color: black !important;
}
h2 {
	color: white;
	font-family: Helvetica;
    text-align: center;
    font-size: 10px;
    font-weight: lighter;
    /* margin-bottom: 1rem; */
    margin-top: 10rem;
    /* padding: 50px; */
}
.center {
	width: 350px;
	display: block;
	margin-left: auto;
	margin-right: auto;
    
}
p , #guesses {
    color: white;
    font-family: Helvetica;
    text-align: center;
    font-size: 10px;
    display: inline;
    
}
#clue {
color: #ffe6a7;
text-align: center;
/* padding-right: 20rem; */

}
button {
    color: black;
    background-color: #32aaf5;
    margin: 5px;
         
}

button:hover {
    background-color: transparent;
    color: white; 
    border: 3px solid gold;
}

.answer-button {
    background-color: white;
    border-radius: 5px;
    border: white;
    margin-top: 20px;
    margin-bottom: 10px;
}

.answer-button2 {
    border: #00a8e8;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    margin-top: 20px;
}

.reset-bttn {
    background-color: black;
    color: white;
    border-radius: 5px;
    display: block;
	margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    font-family: 'Press Start 2P';
    border: 3px solid red;

}
body {
    text-align: center;
}
