html {
	background-color: black !important;
}
h2 {
	color: white;
	font-family: Helvetica;
	text-align: center;
}
.center {
	width: 150px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}
p , #guesses {
    color: white;
    font-family: Helvetica;
    text-align: center;
}
#clue {
/* color: #e9c46a; */
color: #ffe6a7;
padding-right: 20rem;
}